p {
  color: blue;
}

.class-selector {
  color: green;
}

#id-selector {
  color: red;
}

[data-custom] {
  color: rgb(23, 121, 20);
}

.parent .child {
  color: purple;
}

.parent > .direct-child {
  color: pink;
}

ul li {
  color: brown;
}

div .class-combination[data-custom="value"] {
  color: gray;
}

div #combination-tag_id {
  color: teal;
}

.class-and-attribute[data-another="another-value"] {
  color: olive;
}
